.bar2{
    width: 100%;
    height: 40vh;
    background-image: url(../../assets/other/3.jpg);
    background-position: center;
    background-size: cover;
}
/* 
.bar2 img{
    width: 100%;
    height: 40%;
    object-fit: cover;
} */




