.produtos{
    width: 100%;
    height: auto;
    background:rgba(245,245,245,1);
    padding: 50px 0;
}


.produtos .row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.produtos h1{
    margin-bottom: 1rem;
}


 

 