.bar{
    width: 100%;
    padding: 20px 0;
    background: rgb(245, 245, 245);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.bar .row{
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.it{
    width: 130px;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #818ea0;
    background: transparent;
}

.it:hover{
    background: linear-gradient(90deg, rgba(194,56,56,1) 0%, rgba(200,133,16,1) 91%);
    border: none;
    color: #fff;
}
.it a{
    color: #818ea0;
}

.it a:hover{
    color: #fff;
}