.tecnologia{
    width: 100%;
    height: auto;
    padding: 50px 0;
}


.tecnologia .row{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.tecnologia h1{
    margin-bottom: 1rem;
}


 

 