.tecnologia{
    width: 100%;
}


.tecnologia .row{
    justify-content: center;
    align-items: center;
}

.tecnologia h1{
    margin-bottom: 1rem;
}

.img-tech{
    width: 50%;   
}

.img-tech img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

 .card-tech{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 1rem;
 }

 