.card{
    width: 250px;
    height: auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    align-items: center;
    transition: .3s ease;
    border: 1px solid rgb(228, 228, 228);
}
/* .card:hover{
    transform: translateY(-20px);
} */

.card .imagem{
    width: 220px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card:hover img{
    transform: scale(1.5) rotate(-45deg);
}
.card img{
    transition: .5s ease;
}



.card .imagem img{
    padding: 5px; 
    max-width: 100%;
}



.card .info .title{
    padding: 10px;
    color: #666;
    font-size: 20px;
    text-align: center;
}
.card .info .sub-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid rgba(0,0,0,.3);
    gap: 1rem;
}
.card .info .sub-info .preco{
    color: #ff3300;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
 
.card .info .sub-info .preco span{
   font-size: 15px;
   color: #999;
   text-decoration: line-through;
}
.card .info .sub-info .stars{
   color: orange;
   font-size: 17px;
}

.card .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 223px;
    width: 100%;
    background: rgba(0,0,0,rgba(0,0,0,.3));
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.card .overlay button{
    color: rgb(255, 255, 255);
    border: none;
    background: linear-gradient(90deg, rgba(194,56,56,1) 0%, rgba(200,133,16,1) 91%);
    margin: 10px;
    padding: 13px 15px;
    font-size: 20px;
    transform: translateY(-150px);
    transition-property: tranform;
    transition-delay:calc(.1s);
}

.card .overlay button:hover{
   opacity: .9;
   color: rgb(255, 255, 255);
}
.card:hover .overlay button{
    transform: translateY(0px);
}

