.barra2{
    background-image: url(../../images/beck2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff
}

.barra2 h2,p{
    text-align: center;
}
