*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Poppins", "Roboto", sans-serif;
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;
}

.padding{
    padding: 80px 0;
}