
.item{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.it1{
    background-image: url(../../images/beck1.jpg);
    background-size: cover;
    background-position: center;
}
.it2{
    background-image: url(../../images/beck2.jpg);
    background-size: cover;
    background-position: center;
}

.box-bt{
    display: flex;
    gap: 1rem;
}
.box-bt > h2{
    text-align: center;
    color: white;
    
}

.bt{
    width: 150px;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
    transition: .3s ease;
    
}
.bt:hover{
   background: transparent;
   border: 1px solid #fff;
   color: #fff;
}
