
.item{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

}
.it1{
    background-image: url(../../assets/background1.png);
    background-size: cover;
    background-position: center;
}
.it2{
    background-image: url(../../assets/background2.png);
    background-size: cover;
    background-position: center;
}
.it3{
    background-image: url(../../assets/background3.png);
    background-size: cover;
    background-position: center;
}
.it4{
    background-image: url(../../assets/background5.png);
    background-size: cover;
    background-position: center;
}

.box-bt{
    display: flex;
    gap: 1rem;
}

.button{
    width: 150px;
    height: 50px;
    margin-top: 2rem;
    background: transparent;
    border: 1.5px solid #fff;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.button:hover{
    background: linear-gradient(90deg, rgba(194,56,56,1) 0%, rgba(200,133,16,1) 91%);
    border: none;
}
