

.barra-cont{
    padding-top: 25px;
    padding-bottom: 35px;
    background: rgb(0, 0, 0,.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.5rem;
   
}

.circle{
    width: 70px;
    height: 70px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descrição{
    position: absolute;
    margin-top: 7.5rem;
    margin-left: .-4rem;
}
.descrição p{
    width: 150px;
    color: #fff;
}