.p-sport{
    width: 100%;
}
.p-sport .row{
   justify-content: center;
   align-items: center;
}

.card-sport{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}

.img-sport{
    width: 50%;
}

.img-sport img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}