.footer{
    background: linear-gradient(90deg, rgba(194,56,56,1) 0%, rgba(200,133,16,1) 91%);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer .row{
    justify-content: center;
    text-align: center;
}

.footer .col-lg-3{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer .col-lg-3 a{
   color: #fff;
}