.footer{
    padding-top: 50px;
    background: rgb(245, 245, 245);
}
.footer h4{
    color: #000; 
    font-size: 16px;
}

.footer .row{
    justify-content: space-between;

}

.footer .lg{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.footer .lg a{
    color: #818ea0;
    position: relative;
   
}

.contac{
    display: flex;
    flex-direction: column;
    font-size: 14px;

}

.contac p span{
    font-weight: 700;
}

.footer-f{
    border-top:1px solid #b1b8c2 ;
    width: 100%;
    text-align: center;
    padding: 20px;
    
}

.follow-links {
     padding-bottom: 1rem;
}

.follow-links i{
    font-size: 24px;
    color: rgb(17, 17, 122);

}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    margin-top: -2rem;
}

.app img{
    width: 100%;
}

.google, .apple{
    width: 100px;
    background: transparent;
}

